.registerDesign {
    height: 80vh;
    width: 100vw;
    overflow: auto;
    font-weight: bold;
    color: gray;

    /* background-color: #282828; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
}