.homeDesign {
    height: 80vh;
    width: 100vw;
    overflow: auto;

    background-color: #282828; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.joinEventButton{
background-color: #1DB954;
color:white;
font-weight: bold;
margin-top: 1em;
}

.joinEventButton:hover{
background-color:#1ED760;
cursor: pointer;
}