.headerDesign {
    height: 12vh;
    width: 100vw;

    background-color: rgb(1, 1, 198);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.outDesign {
    color: white;
    font-weight: bold;

    margin: 1em;
    transition: 0.3s;

}

.navigatorDesign {
    display: flex;
    flex-direction: row;
}

.outDesign:hover {
    transition: 0.3s;
    color: black;
    cursor: pointer;
}