.headerDesign {
    height: 12vh;
    width: 100vw;

    background-color: rgba(29, 185, 84, 0.3); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.headerDesign:hover {
    color: rgba(255, 255, 255, 10); 
    cursor: pointer;
}

.logoDesign {
    height: 4em;
    width: auto; 
}

.adminDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.outDesign {
    color: rgba(255, 255, 255, 0.8); 
    font-weight: bold;

    margin: 1em;
    transition: 0.3s;

}


.navigatorDesign {
    display: flex;
    flex-direction: row;
}

.outDesign:hover {
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.183); 
    cursor: pointer;
}