.footerDesign {
    height: 8vh;
    width: 100vw;
    background-color: #1DB954;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}