#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("src/img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: "src/img/fondo.jpg";
}